@import "@cloudflare/kumo/styles/tailwind";
@import "./styles/globals.css";

@font-face {
  font-family: "SohneVF";
  src: url("./assets/fonts/SohneVF.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --color-accent-50: var(--color-purple-50);
  --color-accent-100: var(--color-purple-100);
  --color-accent-200: var(--color-purple-200);
  --color-accent-300: var(--color-purple-300);
  --color-accent-400: var(--color-purple-400);
  --color-accent-500: var(--color-purple-500);
  --color-accent-600: var(--color-purple-600);
  --color-accent-700: var(--color-purple-700);
  --color-accent-800: var(--color-purple-800);
  --color-accent-900: var(--color-purple-900);
  --color-accent-950: var(--color-purple-950);
  --color-header-surface: #f9f8fb;
  --color-marketing-secondary: rgb(115 115 115);
}

:root {
  --font-inter: "SohneVF";
}
